extends layout
block content
    .app--tweet
        form(action='/index', method='post')
            .circle--fluid
                .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
                    .app--avatar #{data}
                        img(src=photo)
                    textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?")
                    strong#tweet-char.app--tweet--char 140
                .circle--fluid--cell.align-bottom
                    button.button-primary(type='submit') Submit
    .bounds.app--body
        include partials/header
        include partials/sections/timeline
        include partials/sections/followers
        include partials/sections/direct_messages
